openapi: 3.1.0
info:
  title: TitoPay HR & Bulk Distribution API
  version: "1.0.0"
  summary: The organisation-side API for paying many beneficiaries at once — payroll, student allowances, grants, rentals, refunds.
  description: |
    This is the **HR / enterprise** surface: what an approved organisation uses
    to move money to a list of people. It is reached in the app through the
    *Bulk Distribution* tile (`service_code: enterprise-distribution`,
    business accounts only) and by direct API integration for organisations
    running their own payroll system.

    ## The five-step flow

    The client deliberately keeps validation, funding and release as separate,
    human-triggered steps. Nothing is paid until two different parties have
    each acted.

    1. **Apply** — the organisation applies once and is approved.
       `POST /v1/enterprise-distribution/applications`
    2. **Upload** — a batch of rows is submitted and validated row by row.
       `POST /v1/enterprise-distribution/batches`
    3. **Review** — the organisation sees exactly which rows passed, which
       failed, and why. Nothing has moved yet.
    4. **Fund** — the organisation locks the valid total out of its business
       wallet. `POST /v1/enterprise-distribution/batches/{id}/fund`
    5. **Release** — a TitoPay approver releases the batch and the beneficiaries
       are paid. This step is **not in this API** — it is
       `POST /v1/admin/distribution/batches/{id}/release` in
       `openapi-admin.yaml`.

    Step 4 was a browser `confirm()` until v182; it is now a review screen that
    restates the amount before the lock call is made.

    ## What changed in this revision

    All three gaps from `API-REQUIREMENTS.md` §P1-4 are closed:

    - **Per-row rejection reasons.** `invalid_rows` was a bare count. An
      organisation uploading 400 rows was told "7 rejected" with no way to learn
      which seven, or why. `batch.rows` now carries per-row detail.
    - **Batch status vocabulary.** The full set of statuses is now enumerated
      and each one says whether it is terminal, so a released or rejected batch
      reads as words rather than raw snake_case.
    - **Release visibility.** `released_at`, `released_by` and `failure_reason`
      are on the batch record. An organisation that has locked R98 250 of its
      own money no longer has to phone TitoPay to find out where it is.

    ## Conventions

    Identical to `openapi-app.yaml`: bearer auth, JSON, 15-second client
    timeout, `Idempotency-Key` on writes, and `error` strings that are rendered
    directly to the user.

    Note the field naming: this surface uses `snake_case` (`valid_rows`,
    `batch_reference`) where the rest of the app API uses `camelCase`. That is
    the existing shape and the client is built against it — it is documented
    here as-is rather than changed, because renaming it would break the shipped
    Bulk Distribution screen for no user-visible gain.
  contact:
    name: TitoPay Engineering
    email: dev@titopay.co.za

servers:
  - url: https://api.titopay.co.za
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Eligibility
  - name: Beneficiaries
  - name: Batches
  - name: Funding

paths:

  /v1/enterprise-distribution/eligibility:
    get:
      tags: [Eligibility]
      summary: Whether this business may run bulk distributions
      description: |
        Read before the Bulk Distribution screen renders. `blockers` is a list of
        human-readable sentences shown verbatim in the readiness panel — write
        them as instructions to the user ("Complete FICA verification for the
        business"), not as codes.
      responses:
        '200':
          description: Eligibility state.
          content:
            application/json:
              schema:
                type: object
                properties:
                  eligible: { type: boolean }
                  status:
                    type: string
                    enum: [not_applied, pending, approved, declined, suspended]
                  blockers:
                    type: array
                    items: { type: string }
                    example:
                      - Complete FICA verification for the business.
                      - Add a funding source to the business wallet.
                  business:
                    type: object
                    description: Pre-fills the application form.
                    properties:
                      business_name: { type: string }
                      full_name: { type: string }
                      registration_number: { type: string, nullable: true }
                  limits:
                    type: object
                    properties:
                      max_batch_total: { type: number, format: double }
                      max_rows_per_batch: { type: integer }
                      monthly_total: { type: number, format: double }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: Not a business account.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v1/enterprise-distribution/applications:
    post:
      tags: [Eligibility]
      summary: Apply for bulk distribution access
      description: |
        Submitted once per organisation. Reviewed by TitoPay Admin — see
        `GET /v1/admin/distribution/applications` in `openapi-admin.yaml`.

        The `institutionType` and `fundingPurpose` values below are exactly what
        the shipped form offers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - organisationName
                - registrationNumber
                - institutionType
                - fundingPurpose
                - expectedMonthlyVolume
                - expectedBeneficiaries
                - fundingSource
              properties:
                organisationName: { type: string }
                registrationNumber: { type: string }
                institutionType:
                  type: string
                  enum: [University, Corporate, NGO, Municipality, Landlord, Payroll Provider, Other]
                fundingPurpose:
                  type: string
                  maxLength: 500
                  example: Student allowances, payroll, grants, rentals or refunds.
                expectedMonthlyVolume: { type: number, format: double, minimum: 0 }
                expectedBeneficiaries: { type: integer, minimum: 1 }
                fundingSource: { type: string }
      responses:
        '201':
          description: Submitted for review.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  status: { type: string, const: pending }
                  submitted_at: { type: string, format: date-time }
        '409':
          description: An application already exists for this organisation.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    get:
      tags: [Eligibility]
      summary: My application and its status
      responses:
        '200':
          description: Application.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  status: { type: string, enum: [pending, approved, declined] }
                  decline_reason: { type: string, nullable: true, description: Shown verbatim. }
                  submitted_at: { type: string, format: date-time }
                  decided_at: { type: string, format: date-time, nullable: true }

  /v1/enterprise-distribution/beneficiaries:
    get:
      tags: [Beneficiaries]
      summary: The organisation's beneficiary register
      description: |
        The standing list of people this organisation pays — students, staff,
        tenants, grantees. A batch row references a beneficiary by
        `unique_beneficiary_id`, which is the organisation's own identifier
        (student number, employee number), not a TitoPay one.
      parameters:
        - { name: search, in: query, schema: { type: string } }
        - { name: status, in: query, schema: { type: string, enum: [active, inactive, unlinked] } }
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: perPage, in: query, schema: { type: integer, minimum: 1, maximum: 200, default: 50 } }
      responses:
        '200':
          description: Register.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Beneficiary' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
    post:
      tags: [Beneficiaries]
      summary: Add or upsert beneficiaries
      description: |
        Upsert on `unique_beneficiary_id`. Accepts a single beneficiary or a
        list, so an HR system can sync its roster in one call.

        A beneficiary with no TitoPay wallet is stored with
        `status: "unlinked"` — that is not an error here, but rows referencing
        an unlinked beneficiary will fail batch validation with
        "Beneficiary has no TitoPay wallet number".
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/BeneficiaryInput'
                - type: object
                  required: [items]
                  properties:
                    items:
                      type: array
                      maxItems: 5000
                      items: { $ref: '#/components/schemas/BeneficiaryInput' }
      responses:
        '200':
          description: Upserted, with a per-row outcome.
          content:
            application/json:
              schema:
                type: object
                properties:
                  created: { type: integer }
                  updated: { type: integer }
                  failed: { type: integer }
                  rows:
                    type: array
                    description: Present whenever `failed` is greater than zero. Same principle as batch rows — never report a count without the detail behind it.
                    items:
                      type: object
                      properties:
                        line: { type: integer }
                        uniqueBeneficiaryId: { type: string }
                        outcome: { type: string, enum: [created, updated, failed] }
                        error: { type: string, nullable: true }
    delete:
      tags: [Beneficiaries]
      summary: Deactivate a beneficiary
      description: Deactivates rather than deletes — historical batches must stay readable.
      parameters:
        - { name: uniqueBeneficiaryId, in: query, required: true, schema: { type: string } }
      responses:
        '204': { description: Deactivated. }

  /v1/enterprise-distribution/batches:
    get:
      tags: [Batches]
      summary: List distribution batches
      parameters:
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/BatchStatus' }
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: perPage, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 25 } }
      responses:
        '200':
          description: |
            Newest first. Every batch carries `released_at`, `released_by` and
            `failure_reason` so the organisation can see where its money is
            without phoning TitoPay.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Batch' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
    post:
      tags: [Batches]
      summary: Upload and validate a batch
      description: |
        Submits the rows and validates them synchronously. **Nothing is paid and
        nothing is locked by this call** — the batch comes back as
        `draft_validated` if any row passed, and the organisation reviews it
        before funding.

        **FIX — P1-4.1. `rows` must carry per-row rejection detail.** Returning
        `invalid_rows: 7` on a 400-row upload and nothing else leaves the
        organisation with no way to fix its file. The client renders per-row
        detail whenever it is present, and looks for the array on `batch.rows`,
        `batch.invalid_row_details` or `batch.errors` — any of the three works,
        `rows` is preferred. Each entry needs an identifier (`line` and/or
        `uniqueBeneficiaryId`) and a reason under `error`, `reason` or
        `message`.

        Until per-row detail is returned, the client states plainly that TitoPay
        reported a count but not which rows. **It does not guess a reason.**
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [batchName, rows]
              properties:
                batchName: { type: string, example: March student allowances }
                distributionType:
                  type: string
                  enum: [student_allowance, payroll, vendor_payment, grant, rental, refund, custom]
                  default: student_allowance
                reference: { type: string }
                scheduledFor:
                  type: string
                  format: date
                  nullable: true
                  description: Indicative only. Release is always a human action by a TitoPay approver.
                rows:
                  type: array
                  minItems: 1
                  maxItems: 10000
                  items:
                    type: object
                    required: [uniqueBeneficiaryId, amount]
                    properties:
                      line:
                        type: integer
                        description: The row number in the organisation's source file. Echoed back on errors so they can find it.
                      uniqueBeneficiaryId: { type: string, example: STU-10022 }
                      amount: { type: number, format: double, minimum: 0.01 }
                      reference: { type: string }
      responses:
        '201':
          description: |
            Validated. `valid_rows` may be zero — that is a normal outcome, not
            an error, and the client shows the rejection report either way.
          content:
            application/json:
              schema:
                type: object
                properties:
                  batch: { $ref: '#/components/schemas/Batch' }
              example:
                batch:
                  id: bd_01HZ
                  batch_name: March student allowances
                  batch_reference: EDB-2026-0031
                  distribution_type: student_allowance
                  status: draft_validated
                  valid_rows: 393
                  invalid_rows: 7
                  valid_total: 98250.00
                  created_at: "2026-07-28T09:14:00+02:00"
                  released_at: null
                  released_by: null
                  failure_reason: null
                  rows:
                    - line: 12
                      uniqueBeneficiaryId: STU-10022
                      amount: 250.00
                      error: Beneficiary has no TitoPay wallet number
                    - line: 88
                      uniqueBeneficiaryId: STU-10344
                      amount: 0
                      error: Amount must be greater than zero
        '413':
          description: Too many rows. `error` states the limit.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /v1/enterprise-distribution/batches/{batchId}:
    parameters:
      - { name: batchId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Batches]
      summary: Batch detail with the full validation report
      responses:
        '200':
          description: Batch.
          content:
            application/json:
              schema:
                type: object
                properties:
                  batch: { $ref: '#/components/schemas/Batch' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Batches]
      summary: Discard an unfunded batch
      description: |
        Only while `status` is `draft`, `draft_validated` or `rejected`. Once
        funded, the money is locked and the batch must go through Admin —
        the organisation cannot unlock it unilaterally.
      responses:
        '204': { description: Discarded. }
        '409':
          description: Batch is funded or beyond. `error` explains the route (contact TitoPay).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v1/enterprise-distribution/batches/{batchId}/fund:
    parameters:
      - { name: batchId, in: path, required: true, schema: { type: string } }
    post:
      tags: [Funding]
      summary: Lock the valid total out of the business wallet
      description: |
        Step 4. Moves `valid_total` from available balance into a hold against
        this batch, and sets `status` to `funded`.

        **This does not pay anyone.** A TitoPay approver still has to release
        the batch. The client's review screen restates the amount immediately
        before this call and says so in those words.

        The client sends the amount it displayed as `expectedTotal`. If it does
        not match the server's `valid_total`, reject with `409` rather than
        locking a different number than the user agreed to — the batch may have
        been revalidated between the review screen rendering and the user
        confirming.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                expectedTotal:
                  type: number
                  format: double
                  description: The total shown on the review screen. Compared against `valid_total`.
                clientIdempotencyKey: { type: string }
      responses:
        '200':
          description: Funded and locked, awaiting TitoPay release.
          content:
            application/json:
              schema:
                type: object
                properties:
                  batch: { $ref: '#/components/schemas/Batch' }
        '402':
          description: Insufficient available balance in the business wallet.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: |
            Already funded, or `expectedTotal` does not match `valid_total`.
            `error` states the current total so the user can re-review.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v1/enterprise-distribution/batches/{batchId}/rows:
    parameters:
      - { name: batchId, in: path, required: true, schema: { type: string } }
    get:
      tags: [Batches]
      summary: The validation report, paginated
      description: |
        For batches too large to return inline. Same row shape as
        `batch.rows`; filter to `outcome: invalid` to get just the rejections.
      parameters:
        - { name: outcome, in: query, schema: { type: string, enum: [valid, invalid] } }
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: perPage, in: query, schema: { type: integer, minimum: 1, maximum: 500, default: 100 } }
      responses:
        '200':
          description: Rows.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/BatchRow' }
                  pagination: { $ref: '#/components/schemas/Pagination' }

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string, format: uuid }
      description: |
        Authoritative. `clientIdempotencyKey` in the body is accepted and
        ignored. This matters more here than anywhere else in the platform — a
        replayed batch upload must not become two batches, and a replayed fund
        call must not lock the money twice.

  responses:
    Unauthorized:
      description: Not signed in, or the token is no longer valid.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: No such resource.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unprocessable:
      description: Validation failed.
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Error'
              - type: object
                properties:
                  fieldErrors:
                    type: object
                    additionalProperties: { type: string }

  schemas:

    Error:
      type: object
      required: [error]
      properties:
        ok: { type: boolean, const: false }
        error:
          type: string
          description: Human-readable; rendered directly to the user. No stack traces, SQL or internal hostnames.
        code: { type: string }
        requestId: { type: string }

    Pagination:
      type: object
      properties:
        page: { type: integer }
        perPage: { type: integer }
        total: { type: integer }
        hasMore: { type: boolean }

    BatchStatus:
      type: string
      description: |
        **FIX — P1-4.2.** The complete vocabulary. The client styles
        `draft_validated` as the one state that can be funded and prints every
        other status as a readable label rather than raw snake_case.

        | value | meaning | terminal |
        |---|---|---|
        | `draft` | uploaded, validation not finished | no |
        | `draft_validated` | validated; **the only fundable state** | no |
        | `funded` | total locked, awaiting TitoPay release | no |
        | `releasing` | release in progress | no |
        | `released` | beneficiaries paid | **yes** |
        | `partially_released` | some rows paid, some failed; see `failure_reason` | **yes** |
        | `rejected` | rejected by TitoPay; funds returned | **yes** |
        | `failed` | release failed; funds returned. See `failure_reason` | **yes** |
        | `cancelled` | discarded before funding | **yes** |
      enum:
        - draft
        - draft_validated
        - funded
        - releasing
        - released
        - partially_released
        - rejected
        - failed
        - cancelled

    Batch:
      type: object
      properties:
        id: { type: string }
        batch_name: { type: string }
        batch_reference: { type: string, example: EDB-2026-0031 }
        distribution_type:
          type: string
          enum: [student_allowance, payroll, vendor_payment, grant, rental, refund, custom]
        status: { $ref: '#/components/schemas/BatchStatus' }
        terminal:
          type: boolean
          description: Convenience flag matching the table on `BatchStatus`. Saves the client hard-coding the set.
        valid_rows: { type: integer }
        invalid_rows: { type: integer }
        valid_total: { type: number, format: double }
        created_at: { type: string, format: date-time }
        created_by: { type: string, description: Display name of the person at the organisation who uploaded it. }
        funded_at: { type: string, format: date-time, nullable: true }
        released_at:
          type: string
          format: date-time
          nullable: true
          description: |
            **FIX — P1-4.3.** When TitoPay released the batch. Null until then.
        released_by:
          type: string
          nullable: true
          description: |
            **FIX — P1-4.3.** The TitoPay approver who released it. A name or
            role, not an internal user id — this is shown to the organisation.
        failure_reason:
          type: string
          nullable: true
          description: |
            **FIX — P1-4.3.** Why a `failed`, `partially_released` or `rejected`
            batch ended where it did. Human-readable; shown verbatim.
        rows:
          type: array
          description: |
            The validation report. Include inline for batches up to ~500 rows;
            above that return the first page and let the client page through
            `/rows`. The client also accepts this array under
            `invalid_row_details` or `errors`.
          items: { $ref: '#/components/schemas/BatchRow' }

    BatchRow:
      type: object
      properties:
        line:
          type: integer
          description: Row number in the organisation's source file, so the user can find it.
        uniqueBeneficiaryId: { type: string, example: STU-10022 }
        beneficiaryName: { type: string, nullable: true }
        amount: { type: number, format: double }
        outcome: { type: string, enum: [valid, invalid] }
        error:
          type: string
          nullable: true
          description: |
            Why this row was rejected, in words the person who built the
            spreadsheet can act on — "Beneficiary has no TitoPay wallet number",
            not "FK_CONSTRAINT_VIOLATION". The client also reads this from
            `reason` or `message`.
        status:
          type: string
          nullable: true
          enum: [pending, paid, failed]
          description: Per-row payment state, populated after release.

    BeneficiaryInput:
      type: object
      required: [uniqueBeneficiaryId, fullName]
      properties:
        uniqueBeneficiaryId:
          type: string
          example: STU-10022
          description: The organisation's own identifier — student or employee number. The upsert key.
        fullName: { type: string }
        cellphone: { type: string }
        email: { type: string, format: email }
        walletNumber:
          type: string
          nullable: true
          description: TitoPay wallet number if known. Otherwise the server links by cellphone or email where it can.
        metadata:
          type: object
          additionalProperties: { type: string }
          description: Free-form organisation fields — cost centre, faculty, department.

    Beneficiary:
      allOf:
        - $ref: '#/components/schemas/BeneficiaryInput'
        - type: object
          properties:
            id: { type: string }
            status:
              type: string
              enum: [active, inactive, unlinked]
              description: |
                `unlinked` means no TitoPay wallet could be matched. Rows
                referencing an unlinked beneficiary fail batch validation.
            linkedAt: { type: string, format: date-time, nullable: true }
            lastPaidAt: { type: string, format: date-time, nullable: true }
            totalPaid: { type: number, format: double }
